<template>
    <v-tabs>
        <v-tab>
            <n-link exact
                    no-prefetch
                    active-class="active"
                    to="/"
            >Home</n-link>
        </v-tab>
        <v-tab>
            <n-link active-class="active" 
                        to="/signup"
            >Sign up</n-link>
        </v-tab>
        <v-tab>
            <n-link active-class="active"
                        to="/aboutus"
            >About us</n-link>
        </v-tab>
    </v-tabs>
</template>