<template>
    <v-container fluid>
        <v-row>
            <v-col>
                <Navbar />
            </v-col>
        </v-row>
        <v-row>
            <v-col>
                <nuxt />
            </v-col>
        </v-row>
    </v-container>
</template>

<script>
import Navbar from '@/components/Navbar';
export default {
    components: {
        Navbar
    }
}
</script>

<style>
    .theme--light.v-btn:not(.v-btn--flat):not(.v-btn--text):not(.v-btn--outlined) {
        color: white;
    }
    .theme--light.v-btn:not(.v-btn--flat):not(.v-btn--text):not(.v-btn--outlined).primary {
        background-color: blue;
    }
    .theme--light.v-btn:not(.v-btn--flat):not(.v-btn--text):not(.v-btn--outlined).error {
        background-color: red;
    }
</style>