<template>
    <section>
        <v-form
            ref="form"
            v-model="valid"
        >
            <v-text-field
                v-model="name"
                :counter="10"
                :rules="nameRules"
                label="Name"
                required
            ></v-text-field>

            <v-text-field
              v-model="email"
              :rules="emailRules"
              label="E-mail"
              required
            ></v-text-field>

            <v-text-field
              v-model="password"
              label="Password"
              :append-icon="showEye ? 'mdi-eye' : 'mdi-eye-off'"
              :pwdRules="[pwdRules.required, pwdRules.min]"
              :type="showEye ? 'text' : 'password'"
              hint="At least 8 characters"
              @click:append="showEye = !showEye"
              required
              counter
            ></v-text-field>

            <v-checkbox
                v-model="checkbox"
                :rules="[v => !!v || 'You must agree to continue!']"
                label="I agree with Terms of Service"
                required
            ></v-checkbox>

            <v-btn
                color="error"
                class="mr-3"
                @click="reset"
            >Reset</v-btn>

            <v-btn
              color="primary"
              @click.prevent="submit"
            >Submit</v-btn>
        </v-form>
    </section>
</template>

<script>
export default {
    data: () => ({
      valid: true,
      checkbox: false,
      showEye: false,
      name: '',
      nameRules: [
        v => !!v || 'Name is required',
        v => (v && v.length <= 10) || 'Name must be less than 10 characters',
      ],
      email: '',
      emailRules: [
        v => !!v || 'E-mail is required',
        v => /.+@.+\..+/.test(v) || 'E-mail must be valid',
      ],
      password: '',
      pwdRules: {
          required: value => !!value || 'Required.',
          min: v => v.length >= 8 || 'Min 8 characters'
        },
    }),

    methods: {
      reset () {
        this.$refs.form.reset()
      },
      submit() {
        if (this.$refs.form.validate()) {
          console.log('Name: ', this.name);
          console.log('E-mail: ', this.email);
          console.log('Password: ', this.password);
        }
      }
    },
}
</script>

<style scoped>
section {
    display: flex;
    justify-content:center;
}
.v-form {
    width:500px;
}
</style>